[submodule "mzWebRTC/External"]
	path = Plugins/nosWebRTC/External
	url = https://github.com/mediaz/webRTC-builds.git
[submodule "Subsystems/nosVulkanSubsystem/External/nosVulkan"]
	url = https://github.com/mediaz/nosVulkan
	path = Subsystems/nosVulkanSubsystem/External/nosVulkan
[submodule "Plugins/nosCubeMask/External/glm"]
	path = Plugins/nosCubeMask/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "Subsystems/nosShaderCompiler/Binaries/tools"]
	path = Subsystems/nosShaderCompiler/Binaries/tools
	url = https://github.com/mediaz/tools.git
[submodule "Plugins/nosTest/External/glfw"]
	path = Plugins/nosTest/External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Subsystems/nosVulkanSubsystem/External/subprocess"]
	path = Subsystems/nosVulkanSubsystem/External/subprocess
	url = https://github.com/benman64/subprocess.git
[submodule "Subsystems/nosPython/External/pybind11"]
	path = Subsystems/nosPython/External/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Subsystems/nosPythonDeps"]
	path = Subsystems/nosPythonDeps
	url = https://github.com/mediaz/nosPythonDeps.git
[submodule "Plugins/nosTrack/External/asio"]
	path = Plugins/nosTrack/External/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "Plugins/nosMath/External/tinyexpr-cpp"]
	path = Plugins/nosMath/External/tinyexpr-cpp
	url = https://github.com/Blake-Madden/tinyexpr-plusplus.git
[submodule "Plugins/External/stb"]
	path = Plugins/External/stb
	url = https://github.com/nothings/stb.git
